#findall{
	height: 100%;
	margin-top: 67px;
	box-shadow: 0px 0px 10px gray;
	display: none;
}
.find_list{
	height: 35px;
	margin-top: 20px;
	background-color: white;
	border: 0px;
    border-bottom:1px gainsboro solid;
}
.find_left,.find_right{
	height: 33px;
}
.find_left{
	width: 45%;
	align-items: center;
}
.find_right{
	width: 40%;
	flex-flow: row-reverse wrap;
	align-items: center;
}
.find_right p{
	font-size: 8px;
	color: #616161;
	
}
.find_imageall{
	width: 22px;
	height: 22px;
	background-size: contain;
	background-repeat: no-repeat ;
}
.find_img_1{
	background-image: url(../../img/icon/dicovery/朋友圈.svg);
}
.find_img_2{
	background-image: url(../../img/icon/dicovery/扫一扫.svg);
}
.find_img_3{
	background-image: url(../../img/icon/dicovery/摇一摇.svg);
}
.find_img_4{
	background-image: url(../../img/icon/dicovery/附近的人.svg);
}
.find_img_5{
	background-image: url(../../img/icon/dicovery/购物.svg);
}
.find_img_6{
	background-image: url(../../img/icon/dicovery/游戏.svg);
}
.find_font{
	width: 65%;
	height: 33px;
	line-height: 33px;
	margin-left: 6%;
	color: #424242;
	font-weight: 200;
	font-size: 12px;
}
.find_right_imgfirst{
	width: 30px;
	height: 30px;
	background-image: url(../../img/myimage/头像1.jpg);
	background-size: contain;
}
.find_right_imgend{
	width: 27px;
	height: 27px;
	background-image: url(../../img/myimage/game.jpg);
	background-size: contain;
}
.margintop{
	margin-top: 0px;
}
#dongtai{
	width: 8px;
	height: 8px;
	background-color: red;
	border-radius: 50%;
	position: relative;
	left:25px;
	top: -5px;
	text-align: center;
	line-height: 15px;
	color: white;
	font-size: 5px;
}
#game{
	width: 8px;
	height: 8px;
	background-color: red;
	border-radius: 50%;
	position: relative;
	left:21px;
	top: -3px;
	text-align: center;
	line-height: 15px;
	color: white;
	font-size: 5px;
}
