#meall{
	height: 100%;
	margin-top: 67px;
	display: none;
}
.me_list{
	height: 60px;
	margin-top: 20px;
	background-color: white;
}
.me_left,.me_right{
	height: 58px;
}
.me_left{
	width: 60%;
	align-items: center;
}
.me_right{
	width: 40%;
	flex-flow: row-reverse wrap;
	align-items: center;
	margin-right: 10px;
}
.me_right p{
	font-size: 8px;
	color: #616161;
	
}
.me_imageall{
	width: 56px;
	height: 56px;
	background-size: contain;
	background-repeat: no-repeat ;
}
.me_img_1{
	background-image: url(../../img/myimage/头像1.jpg);
}
.me_font{
	width: 85%;
	height: 58px;
	margin-left: 15px;
	color: #424242;
	font-weight: 500;
	font-size: 12px;
	line-height: 17px;
}
.me_font p:first-child{
	margin-top: 11px;
	width: 100%;
}
.me_right_imgfirst{
	width: 25px;
	height: 25px;
	background-image: url(../../img/myimage/二维码.jpg);
	background-size: contain;
}
